* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-items: center;
    padding: 10px 40px;
    width: 100%;
}

main > h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 3px;
    margin-top: 10px;
    background: blueviolet;
    color: plum;
    border: none;
    border-radius: 6px;
}

[class*="col-"] {
    float: left;
    width: 100%;
    margin-top:10px;
    padding: 1px;
    text-align: center;
    transition: all 4s  ease-in-out;
    transition-delay: .8s;
}

.col-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.col-2 > .one {
    width: 100%;
    height: 100px;
    align-items: center;
}

.one img,
.two img
{
    width: 100%;
    height: 100%;
    margin: auto 0;
    object-fit: contain;
    border-radius: 6px;
}

.two {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    align-items: center;
}

.col-2 p {
    margin-top: 10px;
}

div ~ .four {
    display: block;
    width: 100%;
    height: 150px;
    align-items: center;
    justify-content: center;
    height: 250px;
    margin-top: 20px;
}

div ~.four :hover {
    transform: skew(12deg, 12deg);
}

source[srcset^="./assets/"] {
    max-width: 100% ;
    height: 100%;
    margin: auto 0;
    object-fit: cover; 
    object-position: center;
    border-radius: 6px;
}

.four img{
    width: 100% ;
    height: 100%;
    margin: auto 0;
    object-fit: cover;
    border-radius: 6px;
}


@media only screen and (min-width: 600px){
    
    main > h1 {
        text-align: center;
        font-size: 40px;
        font-weight: 900;
        background: plum;
        letter-spacing: 6px;
        color: blueviolet;
        border: none;
        border-radius: 6px;
    }

    h1 + .columns {
        display: flex;
        width: 100%;
        height: 320px;
    }
    
    .col-1 {
        width: 35%;
    } 

    .col-1 img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .col-2 {
        width: 8.33%*8;
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;
        justify-content: center;
        align-items: center;
    }

    div ~ .four {
        display: flex;
        width: 100%;
        height: 150px;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .four img{
        width: 100% ;
        height: 100%;
        margin: auto 0;
        object-fit: cover;
    }

    source[srcset^="./assets/"] {
        max-width: 100% ;
        margin: auto 0;
        height: 100%;
        object-fit: cover; 
        object-position: center;
    }
}